<app-navbar/>
<main>

  <section class="cont">

    <div *ngIf="showDiv === '/ventas' " class="cont-btns">
      <button (click)="onClickAddSale()" class="btn">Agregar cantidad de combos vendidos</button>
      <!-- <button routerLink="/ventas/crear" class="btn">Crear</button> -->
      <button routerLink="/ventas/historial" class="btn">Historial unidades vendidas</button>
    </div>

  </section>

  <div *ngIf="showModalCreate==true" class="cont-modal"> 
    <form [formGroup]="formUnitsSoldCreate" action="" class="cont-form">

        <div class="cont-input">
          <span class="text-input">Fecha</span>
          <label for="sal_date" class="lb-input">
            <i class="ph-light ph-calendar-dots icon-form"></i>
            <span class="input-form">
              {{_formatDate()}}
            </span>
            <!-- <input id="sal_amount" formControlName="sal_amount" type="number" class="input-form"> -->
          </label>
        </div>

        <div class="cont-input">
            <span class="text-input">Nombre</span>
            <label for="sal_name_create" class="lb-input">
              <i class="ph-light ph-chat-text icon-form"></i>
              <input id="sal_name_create" formControlName="sal_name" name="sal_name" type="text" class="input-form">
            </label>
        </div>

        <div class="cont-input">
            <span class="text-input">Cantidad</span>
            <label for="sal_quantity" class="lb-input">
              <input id="sal_quantity" formControlName="sal_quantity" type="number" class="input-form">
            </label>
        </div>

        <div class="cont-input">
          <span class="text-input">Tipo</span>
          <select formControlName="sal_type" name="category" id="category" class="input-option">
            <option [value]="null" *ngIf="formUnitsSoldCreate.value.sal_type === null" class="option">Tipo Venta</option>
            <option [value]="1" class="option">
                Ingreso
            </option>
            <option [value]="2" class="option">
              Egreso
          </option>
        </select>
        </div>

        <div class="cont-input">
          <span class="text-input">Local</span>
          <select formControlName="sal_local" name="category" id="category" class="input-option">
            <option [value]="null" *ngIf="formUnitsSoldCreate.value.sal_local === null" class="option">Elegir Local</option>
            <option [value]=1 class="option">
                Eddie Costa
            </option>
            <option [value]=2 class="option">
              Eddie Centro
          </option>
        </select>
        </div>



        <div class="cont-btn-form">
            <button (click)="onClickCancel()" class="btn-form cancel">
              Cancelar
            </button>
      
            <button [disabled]="spinnerLoader === true" (click)="submitFormCreate()" class="btn-form">
              <span *ngIf="spinnerLoader === false">Aceptar</span>  
              <span *ngIf="spinnerLoader === true" class="loader"></span>
            </button>
        </div>

    </form>
</div>

<div>
  
</div>

</main>