<header>
  <div class="cont-hamb">
    <input class="checkbox" type="checkbox" name="" id="" />
    <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </div>

    <div class="cont-side">
      <nav class="cont-menu">
        <ul>
          <li routerLink="/inicio" class="item">Inicio</li>
          <li *ngIf="mostrarItem===true" routerLink="/gestion/crear" class="item">Crear Ingreso/Egreso General</li>
          <li *ngIf="mostrarItem===true" routerLink="/gestion/historial" class="item">Historial Ingreso/Egreso General</li>
          <li *ngIf="mostrarItem===true" routerLink="/gestion/crearsemanal" class="item">Crear Ingreso/Egreso Semanal</li>
          <li *ngIf="mostrarItem===true" routerLink="/gestion/historialsemanal" class="item">Historial Ingreso/Egreso Semanal</li>
          <li routerLink="/categoria" class="item">Costos</li>
          <li routerLink="/ventas" class="item">Cantidad de unidades vendidas</li>
        </ul>
      </nav>
    </div>
  </div>



  <span class="header-title">
    {{navbarName}}
  </span>

  <img src="/assets/img/logo-mini.webp" alt="Eddie Burguer" class="logo-mini">
</header>