header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 14px 20px;
  border-bottom: 1px solid var(--main-color);
  height: 70px;
  position: relative;
}

.header-title {
  font-size: 20px;
  color: var(--light-color);
}

 /* ----------  HAMBURGUER ---------- */
.hamb-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  z-index: 101;
}
.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background:  var(--light-color);
  
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
transform: rotate(-45deg);
}


/* -------------- SIDEBAR ----------------- */

.cont-side {
  position: absolute;
  background-color: #131313e1;
  width: 100vw;
  height: calc(100vh - 70px);
  top: 70px;
  left: 0px;
  transition: .3s;
  transform: translate(-5000px);
  z-index: 4000;
}

input[type="checkbox"]:checked ~ .cont-side {
  transform: translate(0px);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  list-style: none;
  padding: 40px;
}

.item {
  color: var(--light-color);
  font-size: 20px;
  padding: 12px 20px;
}

.item:hover {
  background-color: var(--main-color);
  border-radius: 4px;
}

