<app-navbar/>
<main>
    <section class="cont-create">
        <h1 class="title">
            Costos
        </h1>
        <h2 class="second-title"> Categorias</h2>
        <div class="table-container">
            <table>
                <tr *ngFor="let cat of categories" >
                    <div class="content-category" [style.background]="cat.cat_color">
                        <td>{{ cat.cat_name.length > 15 ? cat.cat_name.substring(0, 15) + '...' : cat.cat_name }}</td>
                        <td class="cont-action"> 
                            <button routerLink="/categoria/{{cat.cat_id}}" class="btn-action"><i class="ph-light ph-arrow-fat-right icon-action"></i></button>
                            <button (click)="onClickDelete(cat.cat_id, cat.cat_name)" class="btn-action"><i class="ph-light ph-trash icon-action"></i></button>
                            <button (click)="onClickModify(cat.cat_id)" class="btn-action"><i class="ph-light ph-pencil-simple icon-action"></i></button>
                                
                    </div>   
                </tr>
            </table>
            
        </div>

        <div class="cont-btn-add">
            <button (click)="onClickAddCategory()" class="btn-add"><i class="ph-light ph-rows-plus-bottom icon-add"></i></button>
        </div>
    </section>
</main>

<div *ngIf="showModalModify==true" class="cont-modal"> 
    <form [formGroup]="formCategory" action="" class="cont-form">

        <div class="cont-input">
            <span class="text-input">Nombre</span>
            <label for="cat_name" class="lb-input">
              <i class="ph-light ph-chat-text icon-form"></i>
              <input id="cat_name" formControlName="cat_name" name="cat_name" type="text" class="input-form">
            </label>
        </div>

        <div class="cont-input">
            <span class="text-input">Color</span>
            <label for="cat_color" class="lb-input">
              <input id="cat_color" formControlName="cat_color" type="color" class="input-form color" >
            </label>
        </div>

        <div class="cont-btn-form">
            <button (click)="onClickCancel()" class="btn-form cancel">
              Cancelar
            </button>
      
            <button [disabled]="spinnerLoader === true" (click)="submitForm()" class="btn-form">
              <span *ngIf="spinnerLoader === false">Aceptar</span>  
              <span *ngIf="spinnerLoader === true" class="loader"></span>
            </button>
        </div>

    </form>
</div>

<div *ngIf="showModalCreate==true" class="cont-modal"> 
    <form [formGroup]="formCategoryCreate" action="" class="cont-form">

        <div class="cont-input">
            <span class="text-input">Nombre</span>
            <label for="cat_name_create" class="lb-input">
              <i class="ph-light ph-chat-text icon-form"></i>
              <input id="cat_name_create" formControlName="cat_name" name="cat_name" type="text" class="input-form">
            </label>
        </div>

        <div class="cont-input">
            <span class="text-input">Color</span>
            <label for="cat_color" class="lb-input">
              <input id="cat_color" formControlName="cat_color" type="color" class="input-form color">
            </label>
        </div>

        <div class="cont-btn-form">
            <button (click)="onClickCancel()" class="btn-form cancel">
              Cancelar
            </button>
      
            <button [disabled]="spinnerLoader === true" (click)="submitFormCreate()" class="btn-form">
              <span *ngIf="spinnerLoader === false">Aceptar</span>  
              <span *ngIf="spinnerLoader === true" class="loader"></span>
            </button>
        </div>

    </form>
</div>