<app-navbar/>
<main>
  <section class="sect-history">
    <!-- Filtro de busqueda | Busqueda según descripción -->
    <form action="" class="form-table" [formGroup]="formTable">
      <label for="searchFilter" class="cont-input-lb">
          <i class="ph-bold ph-magnifying-glass icon-btn"></i>
          <input formControlName="searchInput" id="searchFilter" name="searchFilter" (input)="tableFilter(movementType, currencyType, timeFilter)" class="inp" type="text" placeholder="Filtrar por descripción">
      </label>    
    </form>

    <div class="cont-filters">
      <button (click)="filterType(movementType); this.tableFilter(movementType, currencyType, timeFilter)" class="btn-filter">{{movementType}}</button>
      <button (click)="filterCurrency(currencyType); this.tableFilter(movementType, currencyType, timeFilter)" class="btn-filter">{{currencyType}}</button>
      <!-- <button (click)="filterTime(timeFilter); this.tableFilter(movementType, currencyType, timeFilter)" class="btn-filter">{{timeFilter}}</button> -->
    </div>

    <div class="cont-total-amount">
      <div *ngFor="let total of totalAmount" class="cont-total">
        <span class="total-amount">${{total.total | number:'1.0-0'}} {{total.cur_name}}</span>
      </div>
    </div>

    <!-- Container Table -->
    <div *ngIf="manangementHistoryFiltered.length >= 1" class="cont-table">
      <table>
          <tr class="t-row-head">
              <th>Monto</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Usuario</th>
              <th>Fecha</th>
              <!-- <th>Acción</th> -->
          </tr>
          <tr *ngFor="let mov of manangementHistoryFiltered.reverse()">
              <td>$ {{mov.hw_amount | number:'1.0-0'}} {{returnCurrencyName(mov.cur_id)}}</td>
              <td>{{mov.hw_type}}</td>
              <td>{{mov.hw_description}}</td>
              <td>{{returnUserName(mov.usu_id)}}</td>
              <td>{{formatDate(mov.hw_date)}}</td>
              <!-- <td class="cont-action"> 
                <button (click)="onClickModify(mov.hw_id)" class="btn-action"><i class="ph-light ph-pencil-simple icon-action"></i></button>
                <button (click)="onClickDelete(mov.hw_id, mov.hw_type, mov.hw_amount)" class="btn-action"><i class="ph-light ph-trash icon-action"></i></button>
              </td> -->

          </tr>
      </table>
        <div class="contn-formt-btn">
          <button (click)="migrateData()" class="btn-filter">Migrar Datos</button>
        </div>
    </div>

    <div *ngIf="manangementHistoryFiltered.length < 1" class="cont-not-news">
        <span class="not-movement">No hay movimientos creados.</span>
    </div>
  </section>
</main>

<div *ngIf="showModal === true" class="cont-modal">
  <form [formGroup]="formManangement" action="" class="cont-form">
  
    <div class="cont-input">
      <span class="text-input">Monto</span>
      <label for="hw_amount" class="lb-input">
        <i class="ph-light ph-money icon-form"></i>
        <input (blur)="formatCurrency()" id="hw_amount" formControlName="hw_amount" name="hw_amount" type="number" class="input-form">
      </label>
    </div>

    <div class="cont-input">
      <span class="text-input">Descripción</span>
      <label for="hw_description" class="lb-input">
        <i class="ph-light ph-chat-text icon-form"></i>
        <input id="hw_description" formControlName="hw_description" name="hw_description" type="text" class="input-form">
      </label>
    </div>

    <div class="cont-input">
      <span class="text-input">Tipo de moneda</span>
      <label for="cur_id" class="input-dropdown lb-input">
        <input id="cur_id"  name="cur_id" type="checkbox" class="input-form input-checkbox">
        <div class="cont-dropdown">
          <span (click)="onClickCurrency(cur.cur_id)" *ngFor="let cur of currencyTypes" class="item-dropdown">{{cur.cur_name}}</span>
        </div>
        <i class="ph-light ph-coin icon-form"></i>
        <span class="input-form">{{spanTypeCurrency}}</span>
        <i class="ph-light ph-caret-down icon-arrow"></i>
      </label>
    </div>

    <div class="cont-input">
      <span class="text-input">Tipo</span>
      <label for="hw_type" class="input-dropdown lb-input">
        <input id="hw_type"  name="hw_type" type="checkbox" class="input-form input-checkbox">
        <div class="cont-dropdown">
          <span (click)="onClickType('Ingreso')" class="item-dropdown">Ingreso</span>
          <span (click)="onClickType('Egreso')" class="item-dropdown">Egreso</span>
        </div>
        <i class="ph-light ph-arrows-out-line-horizontal icon-form"></i>
        <span class="input-form">{{spanType}}</span>
        <i class="ph-light ph-caret-down icon-arrow"></i>
      </label>
    </div>

    <div class="cont-btn-form">
      <button (click)="onClickCancel()" class="btn-form cancel">
        Cancelar
      </button>

      <button [disabled]="spinnerLoader === true" (click)="submitForm()" class="btn-form">
        <span *ngIf="spinnerLoader === false">Aceptar</span>  
        <span *ngIf="spinnerLoader === true" class="loader"></span>
      </button>
    </div>
  </form>

</div>
