<app-navbar/>
<main>
  <section class="cont-create">
    <h1 class="title">
      Crear Ingresos | Egresos
    </h1>

    <form [formGroup]="formManangement" action="" class="cont-form">
      
      <div class="cont-input">
        <span class="text-input">Fecha</span>
        <label for="his_date" class="lb-input">
          <i class="ph-light ph-calendar-dots icon-form"></i>
          <input [disabled]="true" id="his_date" formControlName="his_date" name="his_date" type="text" class="input-form">
        </label>
      </div>

      <!-- <div class="cont-input">
        <span class="text-input">Caja</span>
        <label for="his_date" class="lb-input">
          <i class="ph-light ph-cash-register icon-form"></i>
          <input [disabled]="true" id="his_date" formControlName="his_date" name="his_date" type="text" class="input-form">
        </label>
      </div> -->

      <div class="cont-input">
        <span class="text-input">Monto</span>
        <label for="his_amount" class="lb-input">
          <i class="ph-light ph-money icon-form"></i>
          <input (blur)="formatCurrency()" id="his_amount" formControlName="his_amount" name="his_amount" type="number" class="input-form">
        </label>
      </div>

      <div class="cont-input">
        <span class="text-input">Descripción</span>
        <label for="his_description" class="lb-input">
          <i class="ph-light ph-chat-text icon-form"></i>
          <input id="his_description" formControlName="his_description" name="his_description" type="text" class="input-form">
        </label>
      </div>

      <div class="cont-input">
        <span class="text-input">Tipo de moneda</span>
        <label for="cur_id" class="input-dropdown lb-input">
          <input id="cur_id"  name="cur_id" type="checkbox" class="input-form input-checkbox">
          <div class="cont-dropdown">
            <span (click)="onClickCurrency(1)" class="item-dropdown">ARS</span>
            <span (click)="onClickCurrency(2)" class="item-dropdown">USD</span>
          </div>
          <i class="ph-light ph-coin icon-form"></i>
          <span class="input-form">{{spanTypeCurrency}}</span>
          <i class="ph-light ph-caret-down icon-arrow"></i>
        </label>
      </div>

      <div class="cont-input">
        <span class="text-input">Tipo</span>
        <label for="his_type" class="input-dropdown lb-input">
          <input id="his_type"  name="his_type" type="checkbox" class="input-form input-checkbox">
          <div class="cont-dropdown">
            <span (click)="onClickType(1)" class="item-dropdown">Ingreso</span>
            <span (click)="onClickType(2)" class="item-dropdown">Egreso</span>
          </div>
          <i class="ph-light ph-arrows-out-line-horizontal icon-form"></i>
          <span class="input-form">{{spanType}}</span>
          <i class="ph-light ph-caret-down icon-arrow"></i>
        </label>
      </div>

      <button (click)="submitForm()" class="btn-form">Aceptar</button>
    </form>
  </section>
</main>
