<main>
  <section class="cont-menu">

    <header class="head">
      <img src="/assets/img/logo.webp" alt="Logo Eddie Burguer" class="logo">
      <h1 class="title">¡Bienvenido!</h1>
    </header>

    <div class="cont-grid">
      <div routerLink="/gestion" class="cont-link ing-egr">
        <div class="cont-info">
          <i class="ph-fill ph-wallet icon"></i>
          <span class="text-link">Ingresos - Egresos</span>
        </div>
      </div>

      <div routerLink="/categoria" class="cont-link gastos">
        <div class="cont-info">
          <i class="ph-fill ph-currency-dollar-simple icon"></i>
          <span class="text-link">Gastos</span>
        </div>
      </div>
<!-- 
      <div routerLink="" class="cont-link tipo-gasto">
        <div class="cont-info">
          <i class="ph-fill ph-hamburger icon"></i>
          <span class="text-link">Tipo de gasto</span>
        </div>
      </div>

      <div routerLink="" class="cont-link categoria">
        <div class="cont-info">
          <i class="ph-fill ph-article icon"></i>
          <span class="text-link">Categoría de gasto</span>
        </div>
      </div> -->
    </div>

  </section>
</main>
