main {
  min-height: calc(100vh - 70px);
  background-color: var(--secondary-color);
  padding: 20px 40px;
  padding-bottom: 20px;
}

.title {
  color: var(--main-color);
  text-align: center;
  margin: 32px 0;
}


.cont-table {
  border-radius: 8px;
  max-height: 40vh;
  overflow-y: scroll;
}

table {
  border-radius: 8px;
  font-size: 14px;
  border-collapse: collapse; 
  width: 1000px;
}

tr {
  border: none;
  border-radius: 8px;
}

th {
  text-align: left;
  padding: 16px 22px;
  background-color: var(--main-color);
  color: var(--light-color);
  font-weight: 500;
  border: .5px solid var(--main-color);
  font-size: 16px;
  font-weight: 600;
}

.t-row-head th:first-child {
  border-radius: 8px 0 0 0;
}

.t-row-head th:last-child {
  border-radius:  0 8px 0 0;
}

td {
  border: 1px solid var(--main-color);
  color: var(--light-color);
  padding: 20px 22px;
  font-size: 16px;
}

.btn-action {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 8px;
}

.cont-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon-action {
  color: var(--light-color);
  font-size: 32px;
}

.cont-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.btn-add {
  padding: 16px;
  background-color: var(--main-color);
  border-radius: 12px;
  border: 1px solid var(--main-color);
}

.btn-add:hover {
  background-color: var(--secondary-color);
  transition: .3s;
}

.icon-add {
  color: var(--light-color);
  font-size: 30px;
}


/* ---- Actualizar movimiento ---- */

.cont-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #191919ed;
  padding: 0 40px;
  padding-bottom: 20px;
}

.cont-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
  background-color: var(--secondary-color);
}

.text-input {
  color: var(--light-color);
  font-size: 20px;
  margin-bottom: 6px;
}

.lb-input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.input-form {
  color: var(--light-color);
  padding: 20px 20px 20px 0;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}

.icon-form {
  font-size: 32px;
  padding: 0 16px;
}

.icon-arrow {
  padding: 20px 16px;
  color: var(--light-color);
  font-size: 32px;
  transition: .15s;
}

.cont-btn-form {
  display: flex;
  gap: 12px;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 16px; 
  font-size: 18px;
  color: var(--light-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.cancel {
  background-color: var(--secondary-color);
}

.cont-dropdown {
  display: none;
  position: absolute;
  top: 92px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  z-index: 100;
  overflow: hidden;
}

.item-dropdown {
  color: var(--light-color);
  padding: 16px 20px;
  background-color: var(--main-color);
  width: 100%;
}

input[type="checkbox"]:checked ~ .cont-dropdown {
  display: flex;
}

input[type="checkbox"]:checked ~ .icon-arrow{
  transform: rotate(180deg);
}

.input-checkbox {
  display: none;
}

.input-dropdown {
  justify-content: space-between;
}

.input-ph {
  color: var(--light-color);
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 