<app-navbar/>
<main>
  <h1 class="title">{{category?.cat_name}}</h1>

  <section class="sect-category">
    <div *ngIf="expenses.length >= 1" class="cont-table">
      <table>
          <tr class="t-row-head">
              <th>Insumo</th>
              <th>% Venta</th>
              <th>Unidad</th>
              <th>Precio venta</th>
              <th>Acción</th>
          </tr>
          <tr *ngFor="let exp of expenses.reverse()">
              <td>{{exp.exp_name}}</td>
              <td>{{exp.exp_percentVta}}</td>
              <td>$ {{exp.exp_amount}}</td>
              <td>$ {{calcVta(exp.exp_amount, exp.exp_percentVta) | number:'1.2-2' }}</td>
              <td class="cont-action"> 
                <button (click)="onClickModify()" class="btn-action"><i class="ph-light ph-pencil-simple icon-action"></i></button>
                <button (click)="onClickDelete(exp.exp_id, exp.exp_name)" class="btn-action"><i class="ph-light ph-trash icon-action"></i></button>
              </td>
          </tr>
      </table>
    </div>
  </section>
</main>