

:root {
  --main-color: #F38C35; 
  --secondary-color: #191919;
  --dark-color: #1f1f1f;
  --light-color: #FFFFFF;  
}

a:visited, a:link, a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}